a{
    text-decoration: none !important;
    color: unset !important;

    &:hover{
        cursor: pointer;
    }
}

.navbar-nav{
    gap: 1em;
}

.logoutButton{
    margin-left: 1em;

    &:hover{
        cursor: pointer;

        stroke: green;
        fill: green;

    }
}