.App {
  padding: 100px;
}

.deleteIcon {
  &:hover {
    cursor: pointer;

    fill: red;
  }
}

.search {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.userTable {
  tbody {
    tr {
      &:hover {
        cursor: pointer;
        background-color: #8fff93;
      }
    }
  }
}
